<div class="transportista-container">
  <div class="encabezado">
    <h2>Pilotos del Beneficio</h2>
    <button class="btn-regresar" (click)="regresarInicio()">Regresar al inicio</button>
  </div>

  <div class="filtros">
  <input type="text" [(ngModel)]="busquedaCui" placeholder="Buscar por cui">
  <select [(ngModel)]="filtroEstado" (ngModelChange)="aplicarFiltros()">
  <option value="">Todos los estados</option>
  <option *ngFor="let e of estados" [value]="e.idEstadoTransportistaBeneficio">
    {{ e.estadoTransportistaBeneficio }}
  </option>
</select>
  <button (click)="aplicarFiltros()">Buscar</button>
  <button (click)="limpiarFiltros()">Limpiar</button>
</div>

  <div class="tabla-scroll">
    <table class="transportista-table">
      <thead>
        <tr>
          <th>NIT Agricultor</th>
          <th>Cui</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Observaciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of piloto">
          <td>{{ t.nitAgricultor }}</td>
          <td>{{ t.cui }}</td>
          <td>{{ t.nombre }}</td>
          <td>{{ t.estado }}</td>
          <td>{{ t.observaciones }}</td>
          <td>
            <button class="btn-nuevo" (click)="cambiarEstado(t)">Cambiar Estado</button>
          </td>
        </tr>
        <tr *ngIf="pilotoFiltrado.length === 0">
          <td colspan="5">Sin registros</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <button (click)="paginaAnterior()" [disabled]="paginaActual === 0">Anterior</button>
    <span>Página {{ paginaActual + 1 }} de {{ totalPaginas }}</span>
    <button (click)="paginaSiguiente()" [disabled]="paginaActual + 1 >= totalPaginas">Siguiente</button>
  </div>
</div>
